/* Button Styling */
.sign-in-button {
  padding: 8px 10px; /* Adjusted for mobile */
  font-size: 15px; /* Adjusted for better mobile view */
  border: none;
  border-radius: 8px;
  background-color: hsla(130, 84%, 19%, 0.835);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  height: 45px;
  width: 110px;
 margin: 10px;
 
 margin-left: 40px;
}

.sign-in-button:hover {
  background-color: wheat;
  color: green;
}

.sign-in-button:active {
  transform: scale(0.98);
}
