body {
  background-color: #fffcff;
  margin: 0;
}
.sign-in:hover {
  background-color: #fced96 !important;
  color: #2a8851 !important;
}

.sign-in.active {
  transform: scale(0.98) !important;
}

.sign-in {
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  position: sticky;
  top: 0;
  background-color: #fffcff;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
  margin-top: -20px;
}

.nav-logo img {
  height: 30px; /* Adjusted for better mobile view */
  width: auto;
  margin: 0;
  padding: 0;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 20px;
  list-style: none;

  margin: 0;
  justify-content: flex-end;
  box-sizing: border-box;
}
.nav-menu.dropdown-open {
  transform: translateY(0);
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1001;
  display: none;
}

.menu-items li {
  margin: 0;
  padding: 10px 0;
}

.menu-toggle {
  display: none;
}

.dropdown-open {
  display: flex;
  background-color: #fffcff;
  width: 694;
  height: 231;
  justify-content: flex-start;
  align-items: flex-start;
}

ul {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  align-items: flex-end;
}

ul li {
  display: flex;
}

.links {
  color: rgba(0, 0, 0, 0.915);
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  padding: 0px, 32px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.2em;
}

.nav-menu li {
  margin: 0;
  padding: 5px;
  transition: color 0.3s, transform 0.3s;
  color: black;
}
.nav-menu li.active a {
  color: #2a8851c9;
  font-weight: bold;
  transform: scale(1.1);
}

.nav-menu li:hover {
  color: red;
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  .nav-logo img {
    height: 15px;
    width: auto;
    margin: 0;
    padding: 20px;
  }

  ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 20px;
  }

  .menu-icon {
    display: block;
  }

  .dropdown-open {
    display: flex;
  }
}

/* Hero Section Adjustments */
.hero-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.text {
  max-width: 100%;
  margin-bottom: 20px;
}

.hero-image img {
  height: 500px;
  width: auto;
}
